@font-face {
  font-family: "Cartograph CF";
  src: url("/fonts/CartographCF-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("/fonts/CartographCF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("/fonts/CartographCF-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("/fonts/CartographCF-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@import "tailwindcss";

@theme {
  --color-border: #3f3f46;
  --color-surface: #55555e;
  --color-bright: #7f7f8c;
  --color-bg: #18181b;
  --color-fg: #e4e4e7;
  --color-accent: #f6b300;

  --animate-blink: blink 1s infinite;

  --default-font-family: "Cartograph CF", sans-serif;
}

body {
  @apply bg-bg text-fg selection:bg-accent selection:text-fg tracking-tight;
}

* {
  @apply scroll-smooth;
}
